.register_text {
    font-size: 20px;
    color: #44475B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.register_remeber {
    font-size: 16px;
}